body{
    background-color:  rgb(3, 5, 75);
}

.container{
    width: 500px;
    margin: auto;
    text-align: center;
    
}
.box-1{
    background-color: white;
    border-radius: 20px;
}

.container-1{
    width: fit-content;
    margin: auto;
    text-align: center;
    padding: 40px;
}
.container-2{
    width: 500px;
    margin: auto;
    text-align: center;
    width: 80%;
    color: white;
    padding: 20px;
}
h1{
    color: rgb(3, 5, 75);
    font-size: x-large;
}
.my-form{
  padding: 20px; 
}

.my-form input{
    padding: 20px;
    width: 80%;
    border-radius: 5px;
}